/************** CSS GLOBAL *******************/
@font-face
{
    font-family:"Caviar dreams";
    src:url('../../fonts/CaviarDreams.ttf');
}
@font-face
{
    font-family:"Caviar dreams bold";
    src:url('../../fonts/CaviarDreams_Bold.ttf');
}
@font-face
{
    font-family:"jk abode";
    src:url('../../fonts/JKAbode-Demo.ttf');
}
* {
    box-sizing: border-box;
    font-family: "Caviar dreams";
}

html, body {
    font-size:14px;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin-right: 0px;
}

h1, h2, h3 {
    color: #FFFFFF;
}
.font-large{
    font-size: 5vmax;
    color: white;
}
.font-medium{
    font-size: 3vmax;
    color: white;
}
h1 { 
    font-size: 6.5vmin;
    font-family:"Caviar dreams bold"; 
}
h2 { font-size: 8vmin }
h3 { font-size: 5vmin }
h4 { font-size: 5vmin}
h5 { font-size: 4vmin }
h6 { font-size: 4.75vmin }

ul {
    list-style: none;
    margin: 0;
}

footer {
    width: 100%;
    position: relative;
    bottom: -15vmin;
}

.container {
    width: 100%;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vmin;
    height: 20vmin;
    z-index: 2;
    text-align: left;
}
section {
    position: relative;
    top: 16vmin;
    z-index: 1;
    width: 100%;

}



.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector input:active +.icon-cc{opacity: .9;}
.cc-selector input:checked +.icon-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.cc-selector input:checked +.user-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.icon-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1) grayscale(1) opacity(0.9);
       -moz-filter: brightness(1) grayscale(1) opacity(0.9);
            filter: brightness(1) grayscale(1) opacity(0.9);
}
.icon-cc:hover{
    -webkit-filter: brightness(1) grayscale(0) opacity(1);
       -moz-filter: brightness(1) grayscale(0) opacity(1);
            filter: brightness(1) grayscale(0) opacity(1);
}
.user-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1) grayscale(1) opacity(0.9);
       -moz-filter: brightness(1) grayscale(1) opacity(0.9);
            filter: brightness(1) grayscale(1) opacity(0.9);
}
.user-cc:hover{
    -webkit-filter: brightness(1) grayscale(0) opacity(1);
       -moz-filter: brightness(1) grayscale(0) opacity(1);
            filter: brightness(1) grayscale(0) opacity(1);
}


.logoeva {
    font-family: "jk abode";
    font-size: 18vmin;

}

.eva {
    color: white;
    margin-top: 46px;
    margin-left: 10px;
}

.panel {
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-primary {
    border: none;
}

.panel-body {
    padding: 35px;
}

.panel-heading {
    padding: 4vmin 0 0 0;
    background-color: #f7aa47;
    width: 100%;
}
.panel-title{
    display: inline-block;
    vertical-align: top;
    width: 23vmax;
    padding-left: 5px;
}
.user-container{
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}
.btn-default {
    border-color: transparent;
}

.btn-default:hover {
    background-color: none;    
    border-color: transparent;
}


.modal .modal-footer {
    border-top: none;
    padding-top: 20px;
}

.modal .modal-footer .btn-group > .btn:first-child{
    border-bottom-left-radius: 0;
}

.modal .modal-footer .btn-group > .btn:last-child{
    border-bottom-right-radius: 0;
}

.blackletter {
    color: #000;
    margin-top: -11px;
    margin-left: 40px;
}

.check {
    width: 5vmin;
    height: 5vmin;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0 !important;
}

.glyphicon {
    color:white;
}

.modal-title{
    color: white;
}
.line {
    position: absolute;
    border-top: 1px solid #f7aa47;
    top:0;
    width: 100%;
    margin-top: 10px;
    z-index: +1;
}
input[type=checkbox]{
    margin: 6px 66px 0;
}

.dropdown-menu {
    margin-top: -20px;
}
li .dropdown{
    margin-top: -6vmin;
    position: absolute;
    margin-left: -6vmin;
}

.dropownsize {
    font-size: 5vmin;
} 

.specification {
    margin-top: 12vmin;
}

.list-group-horizontal-eva {
    display: -webkit-box;
    top: -19px;
}


.list-group-item {
    border: none;
    margin-top: 15px;
}

.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    background-color: #f08143;
    height: 100%;
    border: none;
    margin-left: 28%;
}

.nav {
    background-color: #f08143;
    text-align: left;
    padding-left: 10px;
    margin-top: -44px;
}

.nav>li {
        margin-top: 70px;
}
.nav>li>a {
    padding: 0px 0px;
}

.modal {
    display: block;
    background: rgba(0,0,1,0.5);
}
/*final do css geral*/

/*css para Página Registo*/
/*final do css para Página Registo*/

/*css para Página Login*/
/*final do css para Página Login*/

/*css para Página Inicial*/
.header-initial{
    width: 100%;
    height: 80px;
    background: #898989;
    position: relative;
    text-align: left;
}

.setainicial {
    background-image: url("../../img/menu/triangulo_inicial.png");
    position: absolute;
    padding: 10px 30px;
    top: 78px;
    left:12px;
    background-color: rgba(255,255,255,0); 
    background-repeat: no-repeat;
}

.btn-shoplist {
    background-image: url("../../img/menu/Listadecompras_inicial.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 36px 36px;
    background-size: 70px 70px;
    position: absolute;
    right: 42%;
    top: 82px;
}

.btn-mirror {
    background-image: url("../../img/menu/Espelho_inicial.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 36px 36px;
    background-size: 70px 70px;
    top: 127px;
    position: absolute;
    right: 54%;
}

.btn-definition {
    background-image: url("../../img/menu/definicao_inicial.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 36px 36px;
    background-size: 70px 70px;
    top: 127px;
    position: absolute;
    right: 30%;
}

.btn-agend {
    background-image: url("../../img/menu/agendafamiliar_inicial.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 36px 36px;
    background-size: 70px 70px;
    position: absolute;
    right: 42%;
    top: 173px;
}

.btn-more {
    background-image: url("../../img/menu/adicionar_inicial.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 36px 36px;
    background-size: 70px 70px;
    position: absolute;
    right: 30%;
    top: 215px;
}

/************************** final do css para Página Inicial ***************************/

/************************** CSS para Lista de Compras **********************************/
.header-list{
    background-image: url("../../img/lista/banner_laranja.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header .menu-title{
    padding: 10px 0;
    display: inline-block;
    float: left;
}
header .btn-list {
    font-size: 4.5vmax;
    background-color: #f08143;
    padding: 2.5vmin 1vmin 0 0;
    position: relative;
    float: right;
}

.row .panelrow {
    background-c0lor: #f08143;
} 
.list {
    padding-left: 15px;
}
/*Linhas de água para cada lista*/
.list-icon{
    position: relative;
    width: 60px;
    height: 51px;
    left: 0;
    vertical-align: bottom;
}
.casa{
    background-image: url("../../img/lista/casa.png");
    background-color: rgba(255,255,255,0); 
    background-repeat: no-repeat;
}
.trabalho {
    background-image: url("../../img/lista/trabalho.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
}
.natal {
    background-image: url("../../img/lista/natal.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
}
.prenda {
    background-image: url("../../img/lista/aniversario.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
}

.ovo {
    background-image: url("../../img/lista/ovobranco.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    background-size: 44px 50px;
}

.ferias {
    background-image: url("../../img/lista/praiabranca.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
}

.roupa {
    background-image: url("../../img/lista/camisolabranca.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
}
/*---------------------------------------*/
.btn-imageclass {
    background-image: url("../../img/lista/carrinho_70.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    width: 70px;
    height: 65px;
    position: absolute;
    left: 0;
    top: 6vmin;

}

.logolist {
    text-align: center;
    background-image: url("../../img/lista/eva_lista.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    width: 85px;
    height: 30px;
    position: absolute;
    left: 12vmax;
    margin-top: 18vmin;
}

.btn-newlist {
    background-image: url("../../img/lista/adicionar_lista.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;

    height: 66px;
    width: 66px;
    position: absolute;
    right: 20%;
}
.personas{
    border: 0 solid transparent;
    width: 29px;
    height: 27px;
}
.btn-personas {
    position: relative;
    display: inline-block;
    background-image: url("../../img/lista/adicionar_personas25.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
}
.list-group-horizontal {
    position: relative;
    display: inline-block;
    -webkit-padding-start: 0px;
}
.list-margin{
    display: inline-block;
}

.btn-personared {
    background-image: url("../../img/lista/persona_vermelho25.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
}
.btn-personablue {
    background-image: url("../../img/lista/persona_azul25.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
}
.btn-personapink {
    background-image: url("../../img/lista/persona_rosa25.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
}
.btn-personagreen {
    background-image: url("../../img/lista/persona_verde25.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
}
.btn-personabluedark {
    background-image: url("../../img/lista/persona_azulescuro25.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
}
.btn-personaredsmall {
    background-image: url("../../img/lista/persona_vermelho10.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
}
.btn-personabluesmall {
    background-image: url("../../img/lista/persona_azul10.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 9px 9px;
    height: 0px;
}
.btn-personapinksmall {
    background-image: url("../../img/lista/persona_rosa10.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 9px 9px;
    height: 0px;
}
.btn-personagreensmall {
    background-image: url("../../img/lista/persona_verde10.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 9px 9px;
    height: 0px;
}
.btn-personabluedarksmall {
    background-image: url("../../img/lista/persona_azulescuro10.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 9px 9px;
    height: 0px;
}

.btn-icon1 {
    background-image: url("../../img/lista/trabalho_selecionar.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 20px 20px;
    background-size: 35px 35px;
}

.btn-icon2 {
    background-image: url("../../img/lista/natal_adicionar.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 20px 20px;
    background-size: 30px 35px;
}

.btn-icon3 {
    background-image: url("../../img/lista/prenda_adicionar.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 20px 30px;
    background-size: 45px 35px;
}

.btn-icon4 {
    background-image: url("../../img/lista/pascoa_adicionar.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 21px 20px;
    background-size: 30px 35px;
}

.btn-icon5 {
    background-image: url("../../img/lista/ferias_adicionar.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 20px 30px;
    background-size: 30px 35px;
}

.btn-icon6 {
    background-image: url("../../img/lista/roupa_adicionar.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 20px 20px;
    background-size: 30px 35px;
}

.btn-user {
    font-size: 15px;
    background-color: #f08143;
    position: absolute;
    margin: -47px -51px;
    right: 84px;
}

.btn-user1 {
    background-image: url("../../img/lista/persona_azulescuro30.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 10px 10px;
    height: 0px;
}
.btn-user2 {
    background-image: url("../../img/lista/persona_verde30.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 10px 10px;
    height: 0px;
    margin-left: -70px;
}
.btn-user3 {
    background-image: url("../../img/lista/persona_azul30.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 10px 10px;
    height: 0px;
    margin-left: -70px;
}
.btn-user4 {
    background-image: url("../../img/lista/persona_rosa30.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 10px 10px;
    height: 0px;
}


.submit {
    background-image: url("../../img/lista/certo30.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 20px 20px;
}



.btn-people {
    background-image: url("../../img/lista/adidiconar_pessoas15.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    margin-top: 13px;
}

.btn-invit {
    background-image: url("../../img/lista/alterar_imagem_15.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    margin-top: 10px;
}
.btn-edit {
    background-image: url("../../img/lista/nome_lista_15.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    margin-top: 10px;
}




.btn-produto {
    font-size: 15px;
    background-color: #f7aa47;
    width: 38px;
    height: 38px;
    position: absolute;
    margin: 0 -75px;
    right: 84px;
    background-image: url("../../img/lista/adicionar_produto_30.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
}

.btn-photo {
    background-image: url("../../img/lista/photo80.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 35px 45px;
    margin-left: 29%;
    margin-top: 10%;
}

.seta{
    background-image: url("../../img/lista/triangulo_lista.png");
    position: absolute;
    padding: 10px 30px;
    top: 78px;
    background-color: rgba(255,255,255,0); 
    background-repeat: no-repeat;
}

.logolistsmall {
    text-align: center;
    background-image: url("../../img/lista/evapequeno_lista.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 15px 44px;
    position: absolute;
    right: 23%;
    margin-top: 10px;
    background-size: 50px 15px;
}

.modal .modal-dialog {
    margin: 10vmin;
    margin-top: 11vmin;
    border-color: #f7aa47;

}
.modal-content {
    border-color: #f7aa47;
    border-radius:none;
}
.modal .modal-header {
    border-bottom: none;
    position: relative;
    background-color: #f7aa47;
    color:#000;

}

.modal .modal-header .btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 9px;
    background-color: #f7aa47;
}

label {
    color:#f7aa47;
}
/*final do css para Lista de Compras*/

/*css para Agenda Familiar*/
.header-agend {
    background-image: url("../../img/agenda/banner_laranja_escuro.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header .btn-agend1 {
    background-color: #cc5027;
    font-size: 4.5vmax;
    padding: 2.5vmin 1vmin 0 0;
    position: relative;
    float: right;
}

.btn-newagend {
    background-image: url("../../img/agenda/adicionar.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;

    height: 66px;
    width: 66px;
    position: absolute;
    right: 20%;
}

.btn-imageclassagend {
    background-image: url("../../img/agenda/agenda_70.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    height: 66px;
    width: 66px;
    position: absolute;
    left: 0;
    top: 6vmin;
}

/*Parte do calendário*/
.DayPicker-Weekday {
    padding: 5.6vmin;
    color: black;
}

.DayPicker-Caption {
    width: 100vmin;
    display: table-caption;
    height: 15vmin;
    text-align: left;
    background-color: #f47828;
    font-size: 4vmax;
    margin-top: -4vmin;
    padding: 2vmin 0 0 7vmax;
    color: white;
    font-weight: bold;
}
.DayPicker-Weekday {
    padding: 5.6vmin 0 5.6vmin 0;
}
.DayPicker-Day {
    border: 1px solid #f47828;
    text-align: left;
}

.DayPicker-NavBar {

}

.DayPicker {

}

.date {
    margin-top: 25px;
    font-size: 20px;
}

.DayPicker-NavButton {
    width: 3.5vmin;
    height: 6.5vmin;
}
.DayPicker-NavButton--prev {
    left: 2vmin;
    top: 1.5vmin;
}
.DayPicker-NavButton--next {
    right: 2vmin;
    top: 1.5vmin;
}
/*final parte do calendário*/

.classhr{
    margin-bottom: 12px;
    margin-top: 2px;
    border-top: 2px solid #f47828;
}
.list-group-agend {
    padding-left: 25px;
}





.btn-time {
    background-image: url("../../img/agenda/repetir_15.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    margin-top: 10px;
}

.btn-peopleagend {
    background-image: url("../../img/agenda/adicionar_pessoas_15.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    margin-top: 13px;
}

.btn-location {
    background-image: url("../../img/agenda/adicionar_localizacao_15.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    margin-top: 13px;
}

.btn-note {
    background-image: url("../../img/agenda/adicionar_nota_15.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    margin-top: 13px;
}

.btn-hour {
    background-image: url("../../img/agenda/nao_repete_15.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    margin-top: 13px;
}

.submitagend {
    background-image: url("../../img/agenda/certofamilia30.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 20px 20px;
}

.setaagend {
    background-image: url("../../img/agenda/triangulo.png");
    position: absolute;
    padding: 10px 30px;
    top: 75px;
    background-color: rgba(255,255,255,0); 
    background-repeat: no-repeat;
    z-index: +1;
}

.agend{
    text-align: left;
}

.panel-heading-agend {
    padding: 10px 43px;
    background-color: #f47828;
    width: 100%;
}

.logoagend {
    text-align: center;
    background-image: url("../../img/agenda/eva.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    width: 85px;
    height: 30px;
    position: absolute;
    left: 12vmax;
    margin-top: 16vmin;
}

.logolistsmallagend {
    text-align: center;
    background-image: url("../../img/agenda/eva_pequeno.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 15px 44px;
    position: absolute;
    right: 23%;
    margin-top: 10px;
    background-size: 50px 15px;
}

.modal-contentagend {
    border-color: #cc5027;
    border-radius:none;
}

.modal .modal-headeragend {
    border-bottom: none;
    position: relative;
    background-color: #cc5027;
    color:#000;

}

.modal .modal-headeragend .btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 9px;
    background-color: #cc5027;
}

#sidebar-wrapper-agend {
    background-color: #cc5027;
    height: 100%;
    border: none;
    margin-left: 28%;
}

.nav-agend {
    background-color: #cc5027;
    text-align: left;
    padding-left: 10px;
    margin-top: -44px;
}
/*final do css para Agenda Familiar*/

/*css para Definições*/
.header-perfil {
    width: 100%;
    height: 80px;
    background: #6cc5d3;
    position: relative;
    text-align: left;
}

#sidebar-wrapper-perfil {
    background-color: #6cc5d3;
    height: 100%;
    border: none;
    margin-left: 28%;
}

.nav-perfil {
    background-color: #6cc5d3;
    text-align: left;
    padding-left: 10px;
    margin-top: -44px;
}

section .perfil{
   padding-left: 14vmin;
}

.setaperfil {
    background-image: url("../../img/perfil/triangulo.png");
    position: absolute;
    padding: 10px 30px;
    top: 78px;
    left:12px;
    background-color: rgba(255,255,255,0); 
    background-repeat: no-repeat;
}

.btn-imageclassperfil {
    background-image: url("../../img/perfil/editperfil_70.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 34px 45px;
    position: absolute;
    left: 15px;
}

.btn-perfil {
    background-image: url("../../img/perfil/perfil_20.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    left: 21px;
}

.btn-seg {
    background-image: url("../../img/perfil/seg_25.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    left: 21px;
}

.btn-notif {
    background-image: url("../../img/perfil/notificacoes_20.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    left: 21px;
}

.btn-account {
    background-image: url("../../img/perfil/conta_20.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    left: 21px;
}

.btn-sounds {
    background-image: url("../../img/perfil/som_20.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    left: 21px;
}

.btn-widgets {
    background-image: url("../../img/perfil/wid_20.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    left: 21px;
}

.btn-lang {
    background-image: url("../../img/perfil/idioma_20.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    left: 21px;
}

.btn-access {
    background-image: url("../../img/perfil/ace_20.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    left: 21px;
}

.btn-version {
    background-image: url("../../img/perfil/eva_pequeno.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    padding: 13px 13px;
    position:absolute;
    left: 21px;
    background-size: 27px;
    margin-top: 2vmin;
}

.perfiltext {
    color: #000; 
}

.logoperfil {
    text-align: center;
    background-image: url("../../img/perfil/eva_grande.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    width: 85px;
    height: 30px;
    position: absolute;
    right: 34%;
    margin-top: 42px;
}

header .btn-perfil {
    font-size: 25px;
    background-color: #6cc5d3;
    position: absolute;
    margin: -13vmin 71vmin;
    right: 84px;
}
/*final do css para Definições*/

/*botão hamburguer*/
.btn-smmirror {
    background-image: url("../../img/hamburguer/espelho20.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    position: absolute;
    padding: 20px 20px;
}

.btn-smdef {
    background-image: url("../../img/hamburguer/def20.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    position: absolute;
    padding: 20px 20px;
}

.btn-smlist {
    background-image: url("../../img/hamburguer/list20.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    position: absolute;
    padding: 20px 20px;
} 
.btn-smagend {
    background-image: url("../../img/hamburguer/agend20.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    position: absolute;
    padding: 20px 20px;
} 

.hamburguer {
    margin-top: -20px;
    position: absolute;
    left: 31px;
}
/*final botão hamburguer*/

/*media-queries*/
@media screen and (max-width: 374px)
{
    .btn-perfil {
        background-image: url("../../img/perfil/perfil_10.png");
        left: 18px;
        margin-top: 2.5vmin;
    }
}
@media screen and (max-width: 424px)
{
    .btn-perfil {
        background-image: url("../../img/perfil/perfil_20.png");
        left: 22px;
        margin-top: 2vmin;
    }
}
/*final media-queries*/
